[MAIN]

# minimum score (out of 10) required to pass
fail-under=0.00

# files or directories to be skipped
ignore=*.ipynb

disable=
    too-many-locals,
    missing-module-docstring

[FORMAT]

max-line-length=125

[./src/]

disable=
    too-few-public-methods,

[./tests]

disable=
    missing-function-docstring,
    missing-class-docstring,
    missing-module-docstring,
    too-few-public-methods,
